<!--<ion-nav-bar class="top-bar">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon w-4e" menu-toggle="left">
        </button>
    </ion-nav-buttons>
</ion-nav-bar>-->
<ion-header-bar class="top-bar">
    <button class="button button-icon button-clear ion-navicon-round w-4e mg-top-btn" menu-toggle="left" ng-show="['ar', 'kr'].indexOf(lang) < 0">
    </button>
    <button class="button button-icon button-clear ion-navicon-round w-4e mg-top-btn" menu-toggle="right" ng-show="['ar', 'kr'].indexOf(lang) > -1">
    </button>
</ion-header-bar>

<ion-nav-view class="form-content" name="homeContainer">
    <div class="list search-form">
        <ion-item>
            <img src="img/hungry.png">
        </ion-item>
        <form ng-submit="">
            <ion-item class="location-cont">
                <div class="gp-container" style="padding-bottom: 5px;border-bottom-left-radius: 0;border-bottom-right-radius: 0">
                    <select class="select-item" ng-model="myOrder.cityId"
                            ng-options="item.id as item.name for item in cities"
                            default-option="{{'Select Your City' | translate }}" ng-change="selectCity()">
                    </select>
                    <div class="drop-btn"></div>
                </div>
                <div class="gp-container" style="padding-top: 5px;border-top-left-radius: 0;border-top-right-radius: 0">
                    <!--<input placeholder="Address or Zip Code" ng-model="myOrder.curAddress" class="font-mid" googleplace ng-click="onAutoCompleteAddress()"/>-->
                    <!--<select class="select-item add" ng-model="myOrder.neighborId"-->
                            <!--ng-options="item.id as item.name for item in neighborMenuList"-->
                            <!--default-option="{{'Select your Area' | translate }}" has-search="true">-->
                    <!--</select>-->
                    <button class="select-item" modal-select="" ng-model="myOrder.neighborId" options-expression="item in neighborMenuList" has-search="true" modal-title="{{'Select your Area' | translate}}">
                        {{myOrder.neighborId.name || ('Select your Area' | translate)}}
                        <div class="option">
                          {{option.name | translate}}
                        </div>
                    </button>

                </div>
            </ion-item>
        </form>
        <!-- <div class="drop-btn"></div>
                    <button class="button button-positive" modal-select="" ng-model="someModel" options="selectables" modal-title="Select a person">
  Select it
  <div class="option">
    {{option}}
  </div>
</button>
<h3>
  Selected value: {{secondModel}}
</h3> -->
        <!--<ion-item>
            <input placeholder="Address or Zip Code" ng-model="myOrder.curAddress" class="font-mid" googleplace ng-click="onAutoCompleteAddress()"/>
        </ion-item>-->
<!--         <ion-item class="btn-cur-location" >
            <a class="my-location" ng-click="getCurLocation()">
                <span class="font-large-x">{{'Use my current location' | translate }}</span>
            </a>
        </ion-item> -->
        <ion-item>
            <button class="button find-btn button-positive" on-swipe-right="onSwipeRight()" ng-click="findRest()">
                {{'FIND RESTAURANTS' | translate }}
            </button>
        </ion-item>
        <!--<ion-item>
            <input class="button button-block button-positive" type="button" value="PayPal Test" ng-click="onClickPaypal()" />
        </ion-item>-->
    </div>
</ion-nav-view>
