<ion-view>
    <ion-nav-bar class="navbar navbar-default navbar-fixed-top">
        
        <ion-nav-buttons side="left">
            <button class="btn btn-close" ng-click="onClickDetail()"  ng-show="['ar', 'kr'].indexOf(lang) == -1"><img src="img/btnclose.png"></button>
        </ion-nav-buttons>

        <ion-nav-title>{{'Checkout' | translate}}</ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="btn btn-close" ng-click="onClickDetail()" ng-show="['ar', 'kr'].indexOf(lang) > -1"><img src="img/btnclose.png"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="color-bg padding">
<!--         <ion-item class="item-divider">
            <span class="divider-padding no-padding-h">{{ 'Delivery Address' | translate }}</span>
        </ion-item>
        <div>
            <div id="map2" data-tap-disabled="true" class="map-view"></div>
        </div>
        <ion-item class="item-divider">
            <span class="divider-padding no-padding-h positive">{{ 'Please input correct Information(*)' | translate }}Please input correct Information(*)</span>
        </ion-item>
        <ion-item class="no-border text-center">
            <input type="text" class="w-100 in-box-style-base" placeholder="{{ 'Full Name' | translate }} *" ng-model="order_buyer.name" />
        </ion-item>
        <ion-item class="no-border text-center pd-none-t">
            <input type="email" class="w-100 in-box-style-base" placeholder="{{ 'Email' | translate }} *" ng-model="order_buyer.email" />
        </ion-item>
        <ion-item class="no-border text-center pd-none-t">
            <input class="w-100 in-box-style-base" placeholder="{{ 'Full Address' | translate }} *" ng-model="order_buyer.address" googleplace ng-click="onAutoCompleteAddress()"/>
        </ion-item>
        <ion-item class="no-border text-center pd-none-t">
            <input type="tel" class="w-100 in-box-style-base" placeholder="{{ 'Mobile Phone Number' | translate }} *" ng-model="order_buyer.tel" />
        </ion-item> -->

        <!-- <ion-item class="item-divider">
            <span class="divider-padding no-padding-h">Order Details</span>
        </ion-item>
        <ion-item class="detail-item" ng-click="">
            <span class="float-left mg-top-sm">Delivery Time</span>
            <div class="float-right"></div>
            <span class="color-font-placeholder float-right mg-top-sm pd-right-1">ASAP</span>
            <div class="bottom-line-grey"></div>
        </ion-item>
        <ion-item class="detail-item" ng-click="onPaymentPopup()">
            <span class="float-left mg-top-sm">Payment Method</span>
            <div class="float-right icon-more-next-p mg-top-sm"></div>
            <span class="color-font-placeholder-p float-right mg-top-sm pd-right-1">{{ paymentModel.model }}</span>
            <div class="bottom-line-grey"></div>
        </ion-item>
        <ion-item class="border-none-b">
            <div class="diver-type">
                <div class="border-b padding-4"><span class="color-font-placeholder">Driver Tip : </span> {{ c_unit }} {{data.driveTips}}</div>
                <div class="row font-mid perc-style">
                    <div class="col-20">0%</div>
                    <div class="col-20">10%</div>
                    <div class="col-20">15%</div>
                    <div class="col-20">20%</div>
                    <div class="col-20">25%</div>
                </div>
                <div class="button-bar border-none-b" >
                    <ion-radio ng-repeat="item in driverTipsList"
                               ng-value="item.value"
                               ng-model="data.driveTips" ng-click="changedRadioValue()" class="h-radio-bar">
                    </ion-radio>
                </div>

                <div class="color-font-placeholder pd-top-4">100% of the tip goes to your driver</div>
            </div>
        </ion-item> -->
        <!-- <ion-item class="item-divider">
            <span class="divider-padding no-padding-h">{{ 'Order Summary' | translate}}</span>
        </ion-item>
        <ion-item class="pd-top-4 no-border pd-none-b"
                  ng-repeat="dish in curMyDishes track by $index">
            <div class="food-cont color-font-dark">
                <div class="float-left badge-cont">{{dish.quantity}}</div>
                <span class="float-left">{{dish.name}}</span>
                <p class="color-main font-small float-right">{{(dish.total).toFixed(2)}} {{'IQD' | translate}}</p>
            </div>
            <p class="color-font-gray food-tail"><span ng-repeat="extra in dish.extras track by $index">{{extra.name}}</span></p>
            <p class="color-font-gray food-tail pd-top-4"><span>{{dish.comments}}</span></p>
            <div class="h-line-grey"></div>
        </ion-item>
        <ion-item class="pd-top-4 no-border pd-none-b">
            <div class="calc-item">
                <p class="color-font-gray">{{'Subtotal' | translate}} {{'IQD' | translate}}</p>
                <p class="color-main font-small">{{ c_unit }} {{ subTotalPrice.toFixed(2) }} {{'IQD' | translate}}</p>
            </div> -->
<!--             <div class="calc-item">
                <p class="color-font-gray float-left">Tax</p>
                <p class="color-main font-small float-right">{{ c_unit }} {{ curBusiness.tax }}</p>
            </div> -->
            <!-- <div class="calc-item">
                <p class="color-font-gray">{{ 'Delivery Fee' | translate}}</p>
                <p class="color-main font-small">{{ deliveryFee }} {{'IQD' | translate}}</p>
            </div> -->
<!--             <div class="calc-item">
                <p class="color-font-gray float-left">Driver Tip</p>
                <p class="color-main font-small float-right"> {{ c_unit }} {{data.driveTips}}</p>
            </div> -->
<!--             <div class="calc-item">
                <p class="color-font-gray float-left">Service Fee ({{ curBusiness.servicefee }}%)</p>
                <p class="color-main font-small float-right"> {{ c_unit }} {{curBusiness.servicefeeTotal}}</p>
            </div> -->
            <!-- <div class="h-line-grey mg-none-b"></div>
        </ion-item>
        <ion-item class="pd-top-4 no-border pd-none-b total-item">
            <p class="font-large color-font-dark float-left">{{ 'Total' | translate }}</p>
            <p class="font-small color-main float-right">{{orderTotal.toFixed(2)}} {{'IQD' | translate}}</p>
        </ion-item>-->
        
    <div class="white_box" id="checkout_box">
      <div class="row">
      <ul >
        <li class="text-red">
          {{ 'Order Summary' | translate}}
        </li>
        <li >
          <span>{{'Subtotal' | translate}} {{'IQD' | translate}}</span>
          <span class="float-right text-red">{{ c_unit }} {{ subTotalPrice.toFixed(2) }} {{'IQD' | translate}}</span>
        </li>
        <li>
          <span>{{ 'Delivery Fee' | translate}}</span>
          <span class="float-right text-red">{{ deliveryFee }} {{'IQD' | translate}}</span>
        </li>
        <li>
          <span class="text-red bold">{{ 'Total' | translate }}</span>
          <span class="float-right text-red">{{orderTotal.toFixed(2)}} {{'IQD' | translate}}</span>
        </li>
      </ul>

    </div>
  </div>  
  <button type="button" class="btn btn-common place-order-button" ng-click="placeOrderNow()">{{ 'PLACE ORDER' | translate}}</button>
   
    </ion-content> 

   
        <!-- <div class="button find-btn font-large btn-bar-bottom color-font-white button-positive" ng-click="placeOrderNow()">{{ 'PLACE ORDER' | translate}}</div> -->
        
</ion-view>