<ion-modal-view>
    <ion-header-bar class="navbar navbar-default navbar-fixed-top">
        <ion-nav-buttons side="left">
          <button type="button" class="btn btn-close" ng-click="offProductOption()"><img src="img/btnclose.png"></button>
        </ion-nav-buttons>
        <!-- <button class="button top-btn" ng-click="offProductOption()"><img src="img/icon-close.png"></button> -->
        <ion-title class="font-large-x">{{productOptionList.name}}</ion-title>
        <ion-nav-buttons side="right">
            <button class="button top-btn" ng-click="offProductOption()"> </button>
        </ion-nav-buttons>
    </ion-header-bar>
    <ion-content class="color-bg">
     <section class="white_box" id="size_box">
         <div ng-repeat="option in productOptionList.options">
            <div ng-show="C_OState.optional != option.maxsel && option.conditional == 'no'">
                <ion-item class="item-divider">
                    <span class="divider-padding no-padding-h">{{ 'Please choose your' | translate }} {{option.name}}</span>
                    <span ng-if="option.minsel == '1'"></span>
                </ion-item>
                <ion-checkbox class="checkbox-item" ng-repeat="item in option.choices"
                              ng-model="pOptionModel['data_'+option.id]['value']['model_'+item.id]"
                              ng-change="onCheckOption(option,item)">
                    {{ item.name }}<span class="float-right color-main">{{item.price}}</span>
                </ion-checkbox>
            </div>
            <div ng-show="C_OState.optional == option.maxsel && option.conditional == 'no'" ng-init="listIndex = $index">
                <ion-item class="item-divider">
                    <span class="divider-padding no-padding-h">{{ 'Please choose your' | translate }} {{option.name}}</span>
                    <span ng-if="option.minsel == '1'"></span>
                </ion-item>
                <ion-radio class="radio-item" ng-repeat="item in option.choices"
                           ng-value="item.name"
                           name = "{{option.name}}"
                           ng-model="pOptionModel['data_'+option.id]['value']"
                           ng-click="onClickOptions(option,item,listIndex)">
                    <p class="float-left">{{ item.name }}</p>
                    <p class="float-right color-main">{{item.price }}</p>
                </ion-radio>
            </div>
        </div>
       
        <ion-item>
            <div class="row">
                <div class="col-xs-12">
                  
                  <p class="text-red">{{ 'Special Instructions' | translate }}</p>
                  <textarea class="form-control" rows="4" id="" placeholder="{{ 'Add any special instructions' | translate }}" ng-model="myDish.comments"></textarea>
                </div>
              </div> 
        </ion-item> 
      </section>
        
        <ion-item class="row color-main-bg bottom-cont">
           
            <section id="size_box_button">
              <div class="row remove_margin">
                <div class="col-xs-7 white_box">
                  <button class="btn btn-red" type="button" ng-click="onMinusQuantity()">-</button>
                  <button class="btn btn-red" type="button" ng-click="onPlusQuantity()">+</button>
                   <span>{{myDish.total}} {{'IQD' | translate}}</span>
                </div>
                <div class="col-xs-5 red_box">
                  <button class="btn btn-white" ng-click="onAddToCart(productOptionList)" type="button">1</button>
                  <span>{{ 'Add' | translate }}</span>
                </div>
              </div>
               
             </section>
        </ion-item>
    </ion-content>
</ion-modal-view>