
<ion-view>
   
    <ion-nav-bar class="navbar navbar-default navbar-fixed-top">
      
        <ion-nav-buttons side="left">
            <button class="btn btn-back-text" on-swipe-left="onSwipeLeft()" ng-click="gotoHome()"  ng-show="['ar', 'kr'].indexOf(lang) == -1">{{ 'Back' | translate }}</button>
        </ion-nav-buttons>

        <ion-nav-title>{{ 'Restaurant Search' | translate }}</ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="btn btn-back-text" on-swipe-left="onSwipeLeft()" ng-click="gotoHome()" ng-show="['ar', 'kr'].indexOf(lang) > -1">{{ 'Back' | translate }}</button>
        </ion-nav-buttons>

    </ion-nav-bar>


    <ion-content class="color-bg padding">
        <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
        <!-- <ion-item  class="location-cont-item color-font-gray font-mid"><span>{{nearCount}} {{ 'Restaurants near' | translate }} {{nearAddress}}</span></ion-item> -->
        <ion-item class="search-item" id="select_restaurant_box" ng-repeat="item in resturantlist | filter : item.distance track by $id(item)">
        <!--<ion-item class="search-item" menu-close ng-repeat="item in resturantlist track by $id(item)">-->

            <!-- <div class="rest-item font-small" ng-click="onRestaurantItem(item)">
                <div>
                    <img ng-src="http://ordering.talabatey.com/{{item.headerurl}}">
                    <div class="row logo-cont">
                        <div class="col col-40">
                            <div class="time-bg float-right">{{ item.opentime }}</div>
                        </div>
                        <div class="col col-20">
                            <div class="logo-cont-sub">
                                <img ng-src="http://ordering.talabatey.com/{{item.logourl}}" class="mg-bottom-none">
                            </div>
                        </div>
                        <div class="col col-40">
                            <div class="time-bg float-left">{{ item.closetime }}</div>
                        </div>
                    </div>
                </div>

                <h4 class="rating font-large-x color-font-black pd-left-5">{{item.name}}</h4>
                <ul class="color-font-gray">
                    
                    <li>
                        <span class="rating float-left">{{ 'Delivery fee:' | translate }} {{ item.shipping }} {{'IQD' | translate}}</span>
                        <span class="rating float-right">{{ 'Minimum order' | translate }} {{ item.minimum }} {{'IQD' | translate}}</span>
                    </li>
                    <li>
                        <span class="rating float-left">{{ 'Delivery time is 60 min' | translate }} {{item.promotion}} </span>
                        <!-- <span class="rating float-right">{{ 'Distance:' | translate }} {{item.distance.toFixed(2) + '' + item.distanceformat}} </span>->
                    </li>
                </ul>
                <div class="close-mask" ng-if="openState == item.open"></div>
            </div>  --> 
        <div class="rest-item font-small" ng-click="onRestaurantItem(item)">
           
            <img class="categoryimg" ng-src="http://ordering.talabatey.com/{{item.headerurl}}">
            <div class="restaurant-details">
              <h5>{{item.name}}</h5>
              <div class="left-div">                
                <p>{{ 'Delivery fee:' | translate }} {{ item.shipping }} {{'IQD' | translate}}</p>
                <p>{{ 'Delivery time is 60 min' | translate }} {{item.promotion}}</p>
              </div>
              <div class="right-div">
               
                <p>{{ 'Minimum order' | translate }} {{ item.minimum }} {{'IQD' | translate}}</p>
              </div>
            </div>
            <div class="close-mask" ng-if="openState == item.open"></div>
       </div>
        </ion-item>
    </ion-content>
</ion-view>
