<ion-modal-view>
    <ion-header-bar class="navbar navbar-default navbar-fixed-top">
       <!--  <ion-nav-title>{{ 'Italian Falafel' | translate }}</ion-nav-title> -->
        
          <button type="button" class="btn btn-close" ng-click="offConfirm()"><img src="img/btnclose.png"></button>
        
    </ion-header-bar>
    <ion-content class="order-view-cont color-bg pd-top-10">
        
         <ion-item class="no-border no-bg">
            <div class="confirm-dlg">
                <p class="font-large-x color-main">You are awesome!</p>
                <p class="font-mid">{{ 'Your order' | translate }} #{{placedData.id}} {{ 'was placed successfully' | translate }}<br>{{ 'Turn on your app push notifications.' | translate }}<br> {{ 'You will get order status changes.' | translate }}</p>
                <button class="button assertive" ng-click="offConfirm()">{{ 'Ok, go back to homepage' | translate }}</button>
            </div>
             
        </ion-item>  
       
    </ion-content>
</ion-modal-view>