<ion-view>
    <ion-nav-bar class="navbar navbar-default navbar-fixed-top">
        <!-- <ion-nav-buttons side="left">
            <button class="button top-btn" ui-sref="ordering.detailMenu"><img src="img/icon-back.png"></button>
        </ion-nav-buttons>
        <ion-nav-title>{{ 'Order Details' | translate }}</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-assertive" ui-sref="ordering.detailRest">{{'Back to main menu' | translate}}</button>
        </ion-nav-buttons> -->
        <ion-nav-buttons side="left">
            <button class="btn btn-close" ui-sref="ordering.detailMenu"  ng-show="['ar', 'kr'].indexOf(lang) == -1"><img src="img/btnback.png"></button>
        </ion-nav-buttons>

        <ion-nav-title>{{ 'Order Details' | translate }}</ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="btn btn-close" ui-sref="ordering.detailMenu" ng-show="['ar', 'kr'].indexOf(lang) > -1"><img src="img/btnback.png"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="order-view-cont color-bg">
        <ion-item>
            <p class="font-large-x font-center">{{curBusiness.name}}</p>
            <div class="h-line-grey"></div>
        </ion-item>

        <ion-item class="no-border"
                  ng-repeat="dish in curMyDishes track by $index">
            <div class="food-cont color-font-dark">
                <div class="float-left badge-cont">{{dish.quantity}}</div>
                <span class="float-left">{{dish.name}}</span>
                <p class="color-main font-small float-right">{{(dish.total).toFixed(2)}} {{'IQD' | translate}}</p>
            </div>
            <p class="color-font-gray food-tail">
                <span ng-repeat="extra in dish.extras track by $index">{{extra.name}}, </span>
            </p>
            <p class="color-font-gray food-tail pd-top-4">
                <span>{{dish.comments}}</span>
            </p>
            <div class="h-line-grey"></div>
        </ion-item>

        <ion-item class="no-border">
            <div class="food-cont color-font-dark h-30">
                <p class="float-left font-mid">{{ 'Delivery Fee' | translate }} </p>
                <p class="color-main font-small float-right">{{ deliveryFee }} {{'IQD' | translate}}</p>
            </div>
            <!-- <input type="text" placeholder="Comments ex. for whom?" class="outline-txt-box" ng-model="delivery.comments" />
            <div class="h-line-grey"></div> -->
        </ion-item>
<!--         <ion-item class="no-border">
            <div class="food-cont color-font-dark">
                <p class="float-left font-mid">Tax ({{ curBusinessInfo.tax }}%)</p>
                <p class="color-main font-small float-right">{{ c_unit }} {{ taxPrice.toFixed(2) }}</p>
            </div>
            <p class="color-font-gray check-detail">{{ taxType }}</p>
            <div class="h-line-grey"></div>
        </ion-item>
        <ion-item class="no-border">
            <div class="food-cont color-font-dark item-single">
                <p class="float-left font-mid">{{ 'Service Fee' | translate }} ({{ curBusinessInfo.servicefee }}%)</p>
                <p class="color-main font-small float-right">{{ c_unit }} {{(serviceFee).toFixed(2)}}</p>
            </div>
            <div class="h-line-grey"></div>
        </ion-item> -->
        <ion-item class="no-border total-item">
            <p class="font-large color-font-dark float-left">{{ 'Total' | translate }} {{'IQD' | translate}}</p>
            <p class="font-small color-main float-right">{{(calcTotalPrice).toFixed(2)}} {{'IQD' | translate}}</p>
        </ion-item>
    </ion-content>
    <ion-footer-bar class="color-main-bg footer-style">
        <div class="button find-btn font-large btn-bar-bottom color-font-white button-positive" ng-click="onFinalCheckOut()" ng-if="subTotal >= minimumPrice">{{'ORDER NOW' | translate}}</div>
        <div class="button find-btn font-large btn-bar-bottom color-font-white button-royal" ng-if="subTotal < minimumPrice">{{ 'MIN ORDER' | translate }} : {{ minimumPrice.toFixed(2) }}</div>
    </ion-footer-bar>
</ion-view>
