<ion-view>
    <ion-nav-bar class="navbar navbar-default navbar-fixed-top">
        <ion-nav-buttons side="left">
            <button class="btn btn-back-text" on-swipe-left="onSwipeLeft()" ng-click="backToRestaurant()"  ng-show="['ar', 'kr'].indexOf(lang) == -1">{{ 'back resturnat' | translate }}</button>
        </ion-nav-buttons>

        <ion-nav-title>{{HeaderTitle}}</ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="btn btn-back-text" on-swipe-left="onSwipeLeft()" ng-click="backToRestaurant()" ng-show="['ar', 'kr'].indexOf(lang) > -1">{{ 'back resturnat' | translate }}</button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content class="color-bg">
        <div class="rest-detail-item">
            <img ng-src="{{HeaderUrl}}">
        </div>
        <!-- <ion-item class="detail-item" ng-repeat="item in resMenulist" ng-click="goDetailMenu(item)">
            <img ng-src="http://order.talabatey.com/panel/images/categories/{{item.id}}/1/small.jpg", ng-class="['ar', 'kr'].indexOf(lang) > -1 ? 'float-right' : 'float-left'">
            <span ng-class="['ar', 'kr'].indexOf(lang) > -1 ? 'float-right mg-top-sm' : 'float-left mg-top-sm'">{{item.name}}</span> <div ng-class="['ar', 'kr'].indexOf(lang) > -1 ? 'float-left icon-more-next' : 'float-right icon-more-next'"></div>
            <div class="bottom-line-grey"></div>            
        </ion-item> -->
        <section  class="" id="select_category_box">
          <ul class="row remove_margin">
            <li ng-click="goDetailMenu(item)" ng-repeat="item in resMenulist" class="remove_padding">
              <a class = "thumbnail" > 
                <span class="categoryimg"><img ng-src="http://order.talabatey.com/panel/images/categories/{{item.id}}/1/small.jpg"></span>      
                <span class="categoryname">{{item.name}}</span>
              </a>
            </li>

          </ul>
        </section>
    </ion-content>
</ion-view>