
<ion-view>
    <ion-nav-bar class="navbar navbar-default navbar-fixed-top">
        <ion-nav-buttons side="left">
            <button class="btn btn-back-text" on-swipe-left="onSwipeLeft()" ng-click="gotoHome()"  ng-show="['ar', 'kr'].indexOf(lang) == -1">{{ 'Back' | translate }}</button>
        </ion-nav-buttons>
        <ion-nav-title style="margin-right: 12% !important;">{{ 'Restaurant Search' | translate }}</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="btn btn-back-text" on-swipe-left="onSwipeLeft()" ng-click="gotoHome()" ng-show="['ar', 'kr'].indexOf(lang) > -1">{{ 'Back' | translate }}</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="color-bg padding">
        <ion-item class="search-item" id="select_restaurant_box" ng-repeat="item in resturantlist | filter : item.distance track by $id(item)">       
        <div class="rest-item font-small" ng-click="onRestaurantItem(item)">
           
            <img class="categoryimg" ng-src="http://order.talabatey.com/{{item.headerurl}}">
            <div class="restaurant-details">
              <h5>{{item.name}}</h5>
              <div class="left-div">                
                <p>{{ 'Delivery fee:' | translate }} {{ item.shipping }} {{'IQD' | translate}}</p>
                <p>{{ 'Delivery time is 60 min' | translate }} {{item.promotion}}</p>
              </div>
              <div class="right-div">
               
                <p>{{ 'Minimum order' | translate }} {{ item.minimum }} {{'IQD' | translate}}</p>
              </div>
            </div>
            <div class="close-mask" ng-if="openState == item.open"></div>
       </div>
        </ion-item>
    </ion-content>
</ion-view>
