
<ion-view>
    <ion-nav-bar class="bar-stable bar-shadow">
        <ion-nav-buttons side="left">
            <button class="button top-btn" ng-click="gotoHome()"><img src="img/icon-back.png"></button>
        </ion-nav-buttons>
        <ion-nav-title>
            {{ 'Restaurant Search' | translate }}
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button top-btn mg-top-btn-right" ng-click="showFilterBar()"><img src="img/icon-search.png"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="color-bg">
        <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->
        <ion-item  class="location-cont-item color-font-gray font-mid"><span>{{nearCount}} {{ 'Restaurants near' | translate }} {{nearAddress}}</span></ion-item>
        <ion-item class="search-item" ng-repeat="item in resturantlist | filter : item.distance track by $id(item)">
        <!--<ion-item class="search-item" menu-close ng-repeat="item in resturantlist track by $id(item)">-->
            <div class="rest-item font-small" ng-click="onRestaurantItem(item)">
                <div>
                    <img ng-src="http://ordering.talabatey.com/{{item.headerurl}}">
                    <div class="row logo-cont">
                        <div class="col col-40">
                            <div class="time-bg float-right">{{ item.opentime }}</div>
                        </div>
                        <div class="col col-20">
                            <div class="logo-cont-sub">
                                <img ng-src="http://ordering.talabatey.com/{{item.logourl}}" class="mg-bottom-none">
                            </div>
                        </div>
                        <div class="col col-40">
                            <div class="time-bg float-left">{{ item.closetime }}</div>
                        </div>
                    </div>
                </div>

                <h4 class="rating font-large-x color-font-black pd-left-5">{{item.name}}</h4>
                <ul class="color-font-gray">
                    <li>
                        <div class="cash float-left"></div>
                        <div class="visa float-left"></div>
                        <div class="debit float-left"></div>
                        <div class="paypal float-left"></div>
                        <span class="rating float-right">({{item.review.rating}}Rating)</span>
                        <div ng-repeat="star in rateAry[$index]">
                            <div class="{{star.rate}} float-right"></div>
                        </div>
                    </li>
                    <li>
                        <span class="rating float-left">{{ 'Delivery fee:' | translate }} {{ item.shipping }}</span>
                        <span class="rating float-right">{{ 'Minimum order' | translate }} {{ item.minimum }}</span>
                    </li>
                    <li>
                        <span class="rating float-left">{{ 'Promotion:' | translate }} {{item.promotion}} </span>
                        <span class="rating float-right">{{ 'Distance:' | translate }} {{item.distance.toFixed(2) + '' + item.distanceformat}} </span>
                    </li>
                </ul>
                <div class="close-mask" ng-if="openState == item.open"></div>
            </div>
        </ion-item>
    </ion-content>
</ion-view>
