<ion-view>
    <ion-nav-bar class="navbar navbar-default navbar-fixed-top">
        <ion-nav-buttons side="left">
            <button type="button" class="btn btn-back-text" ui-sref="ordering.detailRest" ng-show="['ar', 'kr'].indexOf(lang) == -1">{{ 'back categories' | translate }}</button>
        </ion-nav-buttons>

        <ion-nav-title style="margin-right: 20% !important;">{{HeaderTitle}}</ion-nav-title>

        <ion-nav-buttons side="right">
             <button type="button" class="btn  btn-back-text" ui-sref="ordering.detailRest" ng-show="['ar', 'kr'].indexOf(lang) > -1">{{ 'back categories' | translate }}</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="color-bg padding">
        <ion-item class="detail-item" ng-repeat="item in resSubMenulist" ng-click="onProductOption(item)">          
            <div class="select_dish_image">
                <span><img ng-src="http://order.talabatey.com/panel/images/dishes/{{item.id}}/1/small.jpg", ng-class="['ar', 'kr'].indexOf(lang) > -1 ? 'float-right' : 'float-left'"></span>
              </div>
              <div class="select_dish_np">
                <div class="select_dish_name">
                  <span ng-class="['ar', 'kr'].indexOf(lang) > -1 ? 'float-right mg-top-sm' : 'float-left mg-top-sm'">{{item.name}}</span>
                </div>
                <div class="select_dish_price">
                    <span ng-class="['ar', 'kr'].indexOf(lang) > -1 ? 'color-main font-small float-left' : 'color-main font-small float-right'">{{'IQD' | translate}}&nbsp{{item.price}}</span>
                </div>
              </div>
        </ion-item>
    </ion-content>
    <ion-footer-bar class="color-main-bg footer-style">
        <div class="button find-btn font-large btn-bar-bottom pd-right-3 color-font-white button-positive" ng-click="onViewOrder()">
            <div class="float-left btn-badge-cont">{{allDishCount}}</div>{{ 'View Order' | translate }}
        </div>
    </ion-footer-bar>
</ion-view>

