<ion-view>
    <ion-nav-bar class="navbar navbar-default navbar-fixed-top">
        <ion-nav-buttons side="left">
            <button class="btn btn-back-text" ui-sref="ordering.detailMenu"  ng-show="['ar', 'kr'].indexOf(lang) == -1">{{ 'back to dishes' | translate }}</button>
            <button class="btn btn-back-text font-ar left-btn-navbar" ng-click="cancelOrder()"  ng-show="['ar', 'kr'].indexOf(lang) > -1">{{ 'cancel order' | translate }}</button>
        </ion-nav-buttons>

        <ion-nav-title>{{ 'Order Details' | translate }}</ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="btn btn-back-text font-ar" ui-sref="ordering.detailMenu" ng-show="['ar', 'kr'].indexOf(lang) > -1">{{ 'back to dishes' | translate }}</button>
            <button class="btn btn-back-text" ng-click="cancelOrder()"  ng-show="['ar', 'kr'].indexOf(lang) == -1">{{ 'cancel order' | translate }}</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="order-view-cont padding color-bg">
        <div class="white_box" id="checkout_box">
            <div class="row">
              <ul>
                <li class="text-red">
                  {{curBusiness.name}}
                </li>
                
                <li>
                  <ion-item class="no-border" ng-repeat="dish in curMyDishes track by $index">
                      <span class="badge-cont">{{dish.quantity}}</span>
                      <span class="order-name">{{dish.name}}</span>
                      <span class="float-right text-red ar">{{(dish.total).toFixed(2)}} {{'IQD' | translate}}</span>
                  </ion-item>
                </li>
                
                <li>
                  <span>{{ 'Delivery Fee' | translate }} </span>
                  <span class="float-right text-red ar">{{ deliveryFee }} {{'IQD' | translate}}</span>
                </li>
                <li>
                  <span class="text-red bold">{{ 'Total' | translate }} {{'IQD' | translate}}</span>
                  <span class="float-right text-red ar">{{(calcTotalPrice).toFixed(2)}} {{'IQD' | translate}}</span>
                </li>
                <li>
                    <button type="button" class="btn btn-common button button-positive" ng-click="onFinalCheckOut()" ng-if="subTotal >= minimumPrice">{{'ORDER NOW' | translate}}</button> 
                    <button type="button" class="btn btn-common button button-positive" ng-if="subTotal < minimumPrice">{{ 'MIN ORDER' | translate }} : {{ minimumPrice.toFixed(2) }}</button>
                </li>
              </ul>

            </div>
        </div> 
        
    </ion-content>
    
</ion-view>
