<ion-view>
    <ion-nav-bar class="bar-stable bar-shadow">
        <ion-nav-buttons side="left">
            <button class="button button-assertive" ui-sref="ordering.detailRest" ng-show="['ar', 'kr'].indexOf(lang) == -1">{{'Back to main menu' | translate}}</button>
        </ion-nav-buttons>

        <ion-nav-title>{{HeaderTitle}}</ion-nav-title>

        <ion-nav-buttons side="right">
            <button class="button button-assertive" ui-sref="ordering.detailRest" ng-show="['ar', 'kr'].indexOf(lang) > -1">{{'Back to main menu' | translate}}</button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content class="color-bg">
        <ion-item class="detail-item" ng-repeat="item in resSubMenulist" ng-click="onProductOption(item)">
            <img ng-src="http://ordering.talabatey.com/panel/images/dishes/{{item.id}}/1/small.jpg", ng-class="['ar', 'kr'].indexOf(lang) > -1 ? 'float-right' : 'float-left'">
            <span ng-class="['ar', 'kr'].indexOf(lang) > -1 ? 'float-right mg-top-sm' : 'float-left mg-top-sm'">{{item.name}}</span>
            <span ng-class="['ar', 'kr'].indexOf(lang) > -1 ? 'color-main font-small float-left' : 'color-main font-small float-right'">{{item.price}}</span>
            <span ng-class="['ar', 'kr'].indexOf(lang) > -1 ? 'color-main font-small float-left' : 'color-main font-small float-right'">{{'IQD' | translate}}&nbsp</span>
            <div class="bottom-line-grey"></div>
        </ion-item>
    </ion-content>
    <ion-footer-bar class="color-main-bg footer-style">
        <div class="button find-btn font-large btn-bar-bottom pd-right-3 color-font-white button-positive" ng-click="onViewOrder()">
            <div class="float-left btn-badge-cont">{{allDishCount}}</div>{{ 'View Order' | translate }}
        </div>
    </ion-footer-bar>
</ion-view>

