<ion-modal-view class="{{ ['ar', 'kr'].indexOf(lang) > -1 ? 'right_to_left': 'left_to_right'}}">
    <ion-header-bar class="navbar navbar-default navbar-fixed-top">


    </ion-header-bar>
    
    <ion-content class="order-view-cont color-bg">

         <ion-item class="no-border no-bg confirm-top-padding">
            <div class="confirm-dlg">
                <p class="font-large-x color-main">{{ 'You are awesome!' | translate }}</p>
                <p class="font-mid">{{ 'Your order' | translate }} #{{placedData.id}} {{ 'was placed successfully' | translate }}</p>
                <p class="font-mid">{{ 'Delivery time is 60 min' | translate }}</p>
                <p class="font-mid">{{ 'You will get notification !' | translate }}</p>
                <button class="btn button-common button button-positive" ng-click="offConfirm()">{{ 'Ok, go back to homepage' | translate }}</button>
            </div>

        </ion-item>

    </ion-content>
</ion-modal-view>
