<ion-modal-view>
    <ion-header-bar class="bar-stable bar-shadow fix-buttons">
        <button class="button top-btn" ng-click="offPaymentPopup()"><img src="img/icon-close.png"></button>
        <ion-title class="font-large-x">Payment Select</ion-title>
        <button class="button top-btn mg-top-btn-right" ng-click=""></button>
    </ion-header-bar>
    <ion-content class="color-bg padding">
        <!--<div class="row">
            <div class="col col-35"> </div>
            <div class="col col-30"><img src="img/signup-avatar.png" class="w-100"></div>
            <div class="col col-35"> </div>
        </div>-->
        <ion-item class="item-divider">
            <span class="divider-padding no-padding-h positive">Please choose your Payment method (Required)</span>
        </ion-item>
        <ion-radio class="radio-item" ng-repeat="item in payment"
                   ng-value="item.name"
                   name = "{{item.id}}"
                   ng-model="paymentModel.model"
                   ng-click="onClickMethod(item)">
            <div class="row min-h-5">
                <div class="col col-15"> </div>
                <div class="col col-60 font-large-x">{{ item.name }}</div>
                <div class="col col-10 text-center"><img ng-src={{item.img}} class="w-100"></div>
            </div>
        </ion-radio>
        <ion-item class="no-border no-bg no-padding-h mg-top-nor">
            <button class="button button-positive w-100" ng-click="offPaymentPopup()">ACCEPT</button>
        </ion-item>
    </ion-content>
</ion-modal-view>
