<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-view name="mainContainer"></ion-nav-view>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu side="right" ng-show="['ar', 'kr'].indexOf(lang) > -1">
        <ion-content>
           <div class="col-xs-2 menu-icon-arabic pull-right" >
                <div id="mySidenav" class="sidenav sidenav_ar">
                    <img src="img/logo.png" class="logo-arabic" alt="logo">
                    <ul class="menu-list-arabic">
                        <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->

                        <li><img src="img/icon-home.png"><a  menu-close ng-href="#/side-menu/home-screen">{{ 'Start Order' | translate }}</a></li>
                        <li><img src="img/icon-order.png"><a menu-close ng-click="onGoMyOrder()">{{ 'My Orders' | translate }}</a></li>
                        <!-- <li><img src="img/icon-registration.png"><a  menu-close ng-href= "#/side-menu/our-restaurants">{{ 'Our Restaurants' | translate }}</a></li> -->
                        <li><img src="img/icon-setting.png"><a menu-close ng-href="#/side-menu/language-settings">{{ 'Language Settings' | translate }}</a></li>
                        <li><img src="img/icon-about.png"><a menu-close ng-click="openAboutUs()">{{ 'About Us' | translate }}</a></li>
                        <li><img src="img/icon-fb.png"><a menu-close ng-click="openFacebook()">{{ 'Facebook' | translate }}</a></li>
                        <li><img src="img/icon-youtube.png"><a menu-close ng-click="openYouTube()">{{ 'Youtube' | translate }}</a></li>
                        <li ng-if="getLogState() == true"><img src="img/icon-logout.png"><a ng-click="onSignOut()">{{ 'Logout' | translate }}</a></li>

                       <!--  <a class="item" menu-close ng-href="#/side-menu/home-screen">
                            <div class="icon-text icon-home">
                                <span>Start Order</span>
                            </div>
                        </a> -->

                       <!-- <a class="item" menu-close>
                            <div class="icon-text icon-list">
                                <span>Browse Restaurant</span>
                            </div>
                        </a>-->
                        <!-- <a class="item" menu-close ng-click="onGoMyProfile()">
                            <div class="icon-text icon-profile">
                                <span>My Profile</span>
                            </div>
                        </a> -->

                        <!-- <a class="item" menu-close ng-click="onGoMyOrder()">
                            <div class="icon-text icon-order">
                                <span>My Orders</span>
                            </div>
                        </a> -->

                        <!--<a class="item" menu-close ng-click="">
                            <div class="icon-text icon-address">
                                <span>Address Book</span>
                            </div>
                        </a>-->
                       <!--  <a class="item" menu-close ng-href="#/side-menu/setting">
                            <div class="icon-text icon-setting">
                                <span>Settings</span>
                            </div>
                        </a> -->
                        <!-- <a class="item" ng-if="getLogState() == true" ng-click="onSignOut()">
                            <div class="icon-text icon-signout">
                                <span>Logout</span>
                            </div>
                        </a>

                        <a class="item" menu-close ng-href="#/side-menu/language-settings">
                            <div class="icon-text icon-earth">
                                <span>Language Settings</span>
                            </div>
                        </a>

                        <a class="item" menu-close href= "https://www.facebook.com/TalabateyIQ/?fref=ts">
                            <div class="icon-text icon-home">
                                <span class="padding-right">{{ 'Facebook' | translate }}</span>
                            </div>
                        </a>

                        <a class="item" menu-close href= "https://www.youtube.com/channel/UCfYFecRakE9CWCfABGHUyYg">
                            <div class="icon-text icon-home">
                                <span class="padding-right">{{ 'Youtube' | translate }}</span>
                            </div>
                        </a>

                        <a class="item" menu-close ng-href= "#/side-menu/our-restaurants">
                            <div class="icon-text icon-home">
                                <span class="padding-right">{{ 'Our Restaurants' | translate }}</span>
                            </div>
                        </a>

                        <a class="item" menu-close ng-href= "#/side-menu/about-us">
                            <div class="icon-text icon-home">
                                <span class="padding-right">{{ 'About Us' | translate}}</span>
                            </div>
                        </a> -->
                    </ul>
                </div>
            </div>
        </ion-content>
    </ion-side-menu>


     <ion-side-menu side="left" ng-show="['ar', 'kr'].indexOf(lang) < 0">
        <ion-content>
            <div class="col-xs-2 menu-icon" >
                <div id="mySidenav" class="sidenav">
                    <img src="img/logo.png" class="logo" alt="logo">
                    <ul class="menu-list">
                        <!-- Note each link has the 'menu-close' attribute so the menu auto closes when clicking on one of these links -->

                        <li><img src="img/icon-home.png"><a  menu-close ng-href="#/side-menu/home-screen">{{ 'Start Order' | translate }}</a></li>
                        <li><img src="img/icon-order.png"><a menu-close ng-click="onGoMyOrder()">{{ 'My Orders' | translate }}</a></li>
                        <!--<li><img src="img/icon-registration.png"><a  menu-close ng-href= "#/side-menu/our-restaurants">{{ 'Our Restaurants' | translate }}</a></li>-->
                        <li><img src="img/icon-setting.png"><a menu-close ng-href="#/side-menu/language-settings">{{ 'Language Settings' | translate }}</a></li>
                        <li><img src="img/icon-about.png"><a menu-close ng-click="openAboutUs()">{{ 'About Us' | translate }}</a></li>
                        <li><img src="img/icon-fb.png"><a menu-close ng-click="openFacebook()">{{ 'Facebook' | translate }}</a></li>
                        <li><img src="img/icon-youtube.png"><a menu-close ng-click="openYouTube()">{{ 'Youtube' | translate }}</a></li>
                        <li ng-if="getLogState() == true"><img src="img/icon-logout.png"><a ng-click="onSignOut()">{{ 'Logout' | translate }}</a></li>


                       <!--  <a class="item" menu-close ng-href="#/side-menu/home-screen">
                            <div class="icon-text icon-home">
                                <span>Start Order</span>
                            </div>
                        </a> -->

                       <!-- <a class="item" menu-close>
                            <div class="icon-text icon-list">
                                <span>Browse Restaurant</span>
                            </div>
                        </a>-->
                        <!-- <a class="item" menu-close ng-click="onGoMyProfile()">
                            <div class="icon-text icon-profile">
                                <span>My Profile</span>
                            </div>
                        </a> -->

                        <!-- <a class="item" menu-close ng-click="onGoMyOrder()">
                            <div class="icon-text icon-order">
                                <span>My Orders</span>
                            </div>
                        </a> -->

                        <!--<a class="item" menu-close ng-click="">
                            <div class="icon-text icon-address">
                                <span>Address Book</span>
                            </div>
                        </a>-->
                       <!--  <a class="item" menu-close ng-href="#/side-menu/setting">
                            <div class="icon-text icon-setting">
                                <span>Settings</span>
                            </div>
                        </a> -->
                        <!-- <a class="item" ng-if="getLogState() == true" ng-click="onSignOut()">
                            <div class="icon-text icon-signout">
                                <span>Logout</span>
                            </div>
                        </a>

                        <a class="item" menu-close ng-href="#/side-menu/language-settings">
                            <div class="icon-text icon-earth">
                                <span>Language Settings</span>
                            </div>
                        </a>

                        <a class="item" menu-close href= "https://www.facebook.com/TalabateyIQ/?fref=ts">
                            <div class="icon-text icon-home">
                                <span class="padding-right">{{ 'Facebook' | translate }}</span>
                            </div>
                        </a>

                        <a class="item" menu-close href= "https://www.youtube.com/channel/UCfYFecRakE9CWCfABGHUyYg">
                            <div class="icon-text icon-home">
                                <span class="padding-right">{{ 'Youtube' | translate }}</span>
                            </div>
                        </a>

                        <a class="item" menu-close ng-href= "#/side-menu/our-restaurants">
                            <div class="icon-text icon-home">
                                <span class="padding-right">{{ 'Our Restaurants' | translate }}</span>
                            </div>
                        </a>

                        <a class="item" menu-close ng-href= "#/side-menu/about-us">
                            <div class="icon-text icon-home">
                                <span class="padding-right">{{ 'About Us' | translate}}</span>
                            </div>
                        </a> -->
                    </ul>
                </div>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
