<ion-view>
    <ion-nav-bar class="bar-stable bar-shadow">
        <ion-nav-title>{{ 'Registration Code' | translate }}</ion-nav-title>
        <ion-nav-buttons side="left">
            <button class="button top-btn" ng-click="onClickBack()"><img src="img/icon-close.png"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <button class="button top-btn mg-top-btn-right"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="color-bg padding">
        <form ng-submit="">
          {{ 'Hi' | translate }} {{signUpUser.name}},
          {{ 'Please enter your registration code' | translate }}
            <div class="no-bg no-border text-center mg-top-nor">
                <input type="number" class="w-100 in-box-style" placeholder="{{ 'Registration Code' | translate }}" ng-model="signUpUser.registration_code"/>
            </div>
            <ion-item class="no-border no-bg no-padding-h pd-none-b">
                <button class="button button-positive w-100" ng-click="onClickSignUp()">{{ 'SIGN UP' | translate }}</button>
            </ion-item>
        </form>
    </ion-content>
</ion-view>
